.calendar-wrapper {
    text-align:center;
    margin-left:auto;
    margin-right:auto
}

.calendar-box-wrapper {
    display: inline-block;
    margin:2px;
    vertical-align:top;
}

.calendar{
    background: #f4f2b3;
    color: #880000;
    table-layout:fixed;
}


.calendar-title th {
    font-size: medium;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    line-height:8px;
}

.calendar-header th {
    padding: 0px;
    text-align: center;
    line-height:8px;
    font-size:small;
}

.calendar tbody tr td{
    text-align: center;
    vertical-align: top;
}

.calendar tbody tr td.pad{
    padding:4px;
    background: rgba(255, 255, 255, 0.5);
}

.calendar tbody tr td.day {
    padding:0px;
    line-height:8px;
    font-size:small;
    padding:6px;
    background:#eeeeee;
}

.calendar tbody tr td.today{
    border:1px solid red;
}

.calendar-special{
    font-weight:bold;
    text-decoration: underline;
}

.timetable-header {
    padding-left:1em;
    font-size:large;
    font-weight:bold;
    text-transform: uppercase;
}